.trww-product-archive {
  display: flex;
  flex-wrap: wrap;
}

.trww-category-card {
  height: 130px;

  border-radius: 20px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.trww-category-inner-card {
  margin: 4em 1em 0 1em;
  display: flex;
}

#trww-category-inner-image {
  flex: 1;
}

#trww-category-inner-image img {
  margin-top: -3em;
  margin-left: 1em;
}

#trww-category-content {
  flex: 1;
}

.trww-hidden {
  display: none;
}

.trww-categories-card ul.reset,
ul.reset li,
ul.reset ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
