.elementor-widget-text-editor p:last-child,
.textwidget p:last-child {
  margin-bottom: 0px;
}

input:not(input[type="submit"]),
textarea {
  border: 2px #ed6b28 solid !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}
