/* Adding button */
.yith-wcwl-add-button {
  border: 2px solid #ef9f76;
  margin-right: 30%;
  padding: 0.375em 0 0.375em 0;
  border-radius: 50px;
  background: #f7f7f9;
  text-align: center;
}

.yith-wcwl-add-button:hover {
  border: 2px solid #fee4c3;
  background: #dedede;
  cursor: pointer;
  color: #595959;
}

.yith-wcwl-wishlistexistsbrowse,
.yith-wcwl-wishlistaddedbrowse {
  white-space: pre-line;
}

/* Product already in wishlist feedback */
.yith-wcwl-wishlistexistsbrowse,
.yith-wcwl-wishlistaddedbrowse {
  font-weight: 600;
  font-size: 0.75em;
  line-height: 0.75em;
  letter-spacing: 0.2em;
}

/* Open wishlist feedback */
.yith-wcwl-wishlistexistsbrowse a,
.yith-wcwl-wishlistaddedbrowse a {
  font-weight: 600 !important;
  font-size: 1em !important;
  line-height: 1.2em !important;
  color: #ed6b28 !important;
}

@media (max-width: 425px) {
  .yith-wcwl-add-button {
    margin-right: 0%;
  }
}
